body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header {
    background-color: #d2b48c;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #d2b48c;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #b08b57;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #333;
}

.project {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin: 0;
    color: #b08b57;
    font-size: 18px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #d2b48c;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}

a {
    color: #0000ff;
    text-decoration: none;
}
